* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #412567;
    max-width: full;
    height: auto;
    ;


}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}


.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;







}

.beguni {

    background: linear-gradient(to right, yellow, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.btn-main {}

.btn {
    background: linear-gradient(to right, yellow, #FB09B4,
            #9100F8);
    border-radius: 10000px;
    font-size: 16px;
    width: 135px;
    height: 44px;

    padding: 16px 12px;

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;




}

.btn-b {
    background: linear-gradient(to right, yellow, #FB09B4,
            #9100F8);
    border-radius: 10000px;

    height: 44px;
    width: 201px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;


}

.btn-c {
    border: 2px solid #00FF88;
    margin-top: 20px;
    padding: 8px;
    border-radius: 10000px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
}

.btn-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-hover  {
  background: #00ff9c;
  color: black;
  transform: scale(1.05);
  
}





nav {

    align-items: center;
    justify-content: center;




}

nav h2 {
    font-size: 36px;
    color: #ffffff;

}

.nav-item {
    list-style: none;
    margin-right: 30px;
    color: #ffffff;
}

/* .mic{
   ;
    top: 101px;
    margin: 2px solid red;
} */
.hero {
    display: grid;
    place-items: center;
    padding: 30px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    height: 706px;
    width: full;



}

.text-container {
    text-align: center;
    color: #ffffff;


}

.text-container h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.text-container p {
    opacity: 80%;
    margin-bottom: 24px;
}

.img-container {
    padding-top: 20px;
}
.about-container{
  width:full;
  
    margin: 0 auto;
    text-align: center;
    background-color: #1A0B2E;
}
.heading-container{
    padding-top: 50px;
    margin-bottom: 80px;
}
.heading-container h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.heading-container p{
    color: #ffffff;
    font-size: 16px;
  line-height: 20px;
  opacity: 80%;
  font-weight: lighter;
}
.about-info{
    display: flex;
    justify-content: space-around;
 padding-bottom: 120px;
 padding-top: 80px;

}
.card-info h2{
    color: #00FF88;
    font-weight: 900;
    font-size: 48px;
}
.card-info p{
    color: #ffffff;
    font-size: 16px;
    opacity: 80%;
    padding-top: 16px;
}
.box{
     width:100%;

  
    background-color: #230E3D;
    text-align: center;
  

}
.box .box-heading{
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    
    
}
.card-container{
width: 1200px;
width: 783px;
padding: 40px;
gap: 20px;
margin: 0 auto;
padding-bottom: 120px;



}
.card-container h3, .last-text {
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}
.card-container p{
    color: #ffffff;
    opacity: 60%;
    font-size: 16px;
    font-weight: lighter;
}
.card-du{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card-1{
    /* border: 1px solid red; */
    background-color: #371365a8;
    padding: 40px;
    border-radius: 40px;
    
    
}
.card-2{
background-color: #371365a8;
    padding: 40px;
    border-radius: 40px;
}
.card-3{
    background-color: #371365a8;
    padding: 40px;
    border-radius: 40px;
    margin-top: 30px;
}
.card-4, .card-5{
    margin-top: 30px;
    background-color: #371365a8;
    padding: 40px;
    border-radius: 40px;
}
.last-container{
   
    padding-top: 120px;
   
    text-align: center;
    background-color: #1A0B2E;
   
}
.vd{
    width: 380px;
    height: 440px;
    
}
.vd-1{
    background-color: #250D44;
    /* border: 1px solid red; */
    gap: 30px;
    margin-left: 30px;
    border-radius:20px ;
}
.vd-1 h2{
    padding-top: 24px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;


}
.vd-1-1 p{
color: #ffffff;
opacity: 60%;
font-size: 16px;
font-weight: lighter;
padding-right: 24px;
padding-left: 24px;
padding-bottom: 12px;
}
.clock p{
   color: #00FF88;
   padding-bottom: 24px;
}
.last-2nd h2{
       padding-top: 102px;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
}
.last-p{
    display: flex;
    justify-content: center;
    margin-top: 40px;
   
}
.last-p-p{
    background-color: #301751ce;
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 120px;
    border-radius: 40px;
    
}
.last-p-p h3{
      color: #ffffff;
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
}
.last-p-p p{
    color: #ffffff;
opacity: 60%;
font-size: 16px;
font-weight: lighter;
padding-right: 24px;
padding-left: 24px;
padding-bottom: 12px;
}
.host {
    width: 200px;
    height: 200px;
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 40px;
}
.last-logo{
    
    display: flex;
    justify-content: center;
    padding-top: 16px;
    

}
.logo{
    margin-left: 20px;
    border: 2px solid #FB09B4
    ;
    padding: 10.5px;
    border-radius: 1000000000px;

}
.footer{
   background: url(../assets/footer-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 412px;
}
.footer-container{
    text-align: center;
    padding-top: 80px;
}
.footer-h h1{
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
}
.footer-l{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 40px;
}
.footer-logo{
    display: flex;
    gap: 6px;
}
.footer-logo p{
    color: #ffffff;
opacity: 60%;
font-size: 16px;
font-weight: lighter;
}
.copy{
       color: #ffffff;
opacity: 60%;
font-size: 16px;
font-weight: lighter;
padding-top: 42px;
}
.hide{
    display: none !important;
}
@media screen and (max-width:576px) {
    .heading-container h2{
        font-size: 28px;

    }
    .heading-container p{
        font-size: 11px;
        padding: 8px;
    }
    .about-info{
       display: grid;
       grid-template-columns: repeat(2 ,1fr);
      
       padding-top: 5px;
    }
    .card-info p{
        padding-bottom: 8px;
        
    }
    .box .box-heading{
        padding-top: 46px;
        font-size: 15px;
    }
    .card-du{
        flex-direction: column;
    }
    .card-container{
        width: 342px;
       padding-bottom: 60px;
    }
    .card-container h3, .last-text{
        padding: 0%;
        font-size: 17px;

    }
    .last-container{
        padding-top: 40px;
    }
    .display{
        flex-direction: column;
    }
    .vd-1{
        margin-left: 0%;
    }
    .last-2nd h2{
        padding-top: 0%;
        font-size: 40px;
    }
    .last-p-p{
        flex-direction: column;
        width: 342px;
        margin-bottom: 30px;
    }
    .last-logo{
        padding-bottom: 20px;
    }
.host {
    width: 200px;
    height: 200px;
    padding-top: 29px;
    padding-left: 66px;
    margin-bottom: -20px;
}
.footer-h h1{
    font-size: 38px;
}
.footer-l{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   padding: 20px 20px 20px 20px;
}

.footer-logo{
    justify-content: center;
}
.footer{
    background-size: cover;

}

#res{
    flex-direction: row;
    
}
.display{
    padding: 8px 20px;
}
nav h2{
    font-size: 27px;
}
.img-container img{
    width: 250px;
    height: 250px;
}

.text-container h1 {
    font-size: 48px;
   
}
}